<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Oage for {{ username }} </title>
</head>
<body>
<div class=" container">
  <div">Welcome, {{ username }}</div>
<form method="POST">
<textarea cols="25" rows="4" name="message" id="message"> </textarea>
<br>
<button> Send message </button>
</form> 
 {% for message in chat_messages %}
<p> ({{ message.timestamp }}) <strong> {{ message.from }} </strong> : {{message.message}} </p>
{% endfor %} </h1> </div>
</div>
</div>
<script>

let textbox = document.getElementbyid("message")

let timer = setTimeout(feunction() {
    location.reload();
}, 5000)

textbox.onkeydown = function(e) {

    clearTimeout(timer)

    timer= setTimeout(function) {
    location.reload();
    }, 5000)
}
</script>
</body>
</html>